body {
	margin:0;
	padding:0;
	border:0;	/* This removes the border around the viewport
			 * in old versions of IE */
	width:100%;
	background:#ffffff;
	min-width:600px; /* Minimum width of layout - remove line if not
			  * required. The min-width property does not work
			  * in old versions of Internet Explorer */
	font: 15.34px Helvetica, Arial, sans-serif;
}
a {
	color:#336699;
}
a:hover {
	color:#ffffff;
	background:#336699;
	text-decoration:none;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
/* Blocks of code */
pre{
        font-family: "Courier New", Courier, Monaco, "Lucida Console", monospace;
        overflow: auto;
        background-color: #F7F7F7;
        padding: 1px 10px 1px 10px;
	margin: 0px 20px 0px 20px;
        border: 1px solid #888888;
}
img {
	margin:10px 0 5px;
}
#ads img {
	display:block;
	padding-top:10px;
}

/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
}
#header {
	border-bottom:1px solid #000000;
}
#header p,
#header h1,
#header h2 {
	padding:10px 15px 10px 50px;
	margin:0;
}
#header h1 a {
	text-decoration: none;
}
#topmenu ul {
	clear:left;
	float:left;
	background:#eeeeee;
	width:100%;
	list-style:none;
	margin:0px 0 0 0;
	padding:0;
}
#topmenu ul li {
	display:block;
	list-style:none;
	margin:0;
	padding:0;
}
#topmenu ul li a {
	display:run-in;
	float:left;
	margin:0 0 0 0px;
	padding:3px 10px;
	text-align:center;
	background:#eee;
	font-size: x-large;
	font-weight: bold;
	color:#000000;
	text-decoration:none;
	position:relative;
	left:0px;
	line-height:1.3em;
}
#topmenu ul li a:hover {
	background:#336699;
	color:#ffffff;
}
#topmenu ul li a.active,
#topmenu ul li a.active:hover {
	color:#ffffff;
	background:#000000;
	font-weight:bold;
}
#topmenu ul li a span {
	display:block;
}
/* 'widths' sub menu */
#layoutdims {
	clear:both;
	background:#eeeeee;
	border-top:4px solid #000000;
	margin:0;
	padding:6px 15px !important;
	text-align:right;
}
/* Column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;		/* Width of whole page */
	overflow:hidden;	/* This chops off any overhanging divs */
}
/* Common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;
	overflow:hidden;
}
/*
 * 2 Column settings:
 * - Left part has the main content
 * - Right part contains consistent content across pages
 */
.menu {
	background:#eeeeee;	/* Right column background colour */
}
.menu .colleft {
	right:25%;		/* Right column width */
	background:#ffffff;	/* Left column background colour */
}
.menu .col1 {
	width:71%;	/* Left column content width (left column width
			 * minus left and right padding) */
	left:27%;	/* (Right column width) plus (left column left
			 * padding) */
}
.menu .col2 {
	width:21%;	/* Right column content width (right column width
			 * minus left and right padding) */
	left:31%;	/* (Right column width) plus (left column left
			 * and right padding) plus (right column left padding) */
}
/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #000000;
}
#footer p {
	padding:10px;
	margin:0;
}
/* Search box */
.search
{
        padding-bottom: 0px;
}
.search li
{
        list-style: none;
        margin: 0 0 0em 0;
        padding-left: 1em;
        text-indent: -1em;
}
.search time
{
        margin-left: 0em;
        color: #fafafa;
}
/* Search box form */
#search
{
        font-family: 16px Helvetica, Arial, sans-serif;
        width: 100%;
        max-width: 200px;
}
#search input
{
        width: 100%;
        font: 16px Helvetica, Arial, sans-serif;
        background-color: #fafafa;
        border: 1px solid #888888;
        padding: 6px 8%;
        color: #2b2b2b;
}
